<div class="container-home">
  <div class="header">
    <mat-icon class="arrow" (click)="goHome()">arrow_back_ios</mat-icon>
    <div class="starting-points">
      <h1><strong>{{loginUser}}</strong></h1>
      <h3><strong>{{timeLeft}} pontos</strong></h3>
      <h3><strong>{{leagueName}}</strong></h3>
    </div>
  </div>
  <div class="main-form">
    <!-- <div class="score-boarder">
      <div class="score-boarder__title">
        <p>Classificação na sua liga</p>
      </div>
      <div class="box-classification">
        <div class="decoration">
          <div class="classification" id="rankGeral">
            <div class="points" *ngFor="let jogo of jogosLiga">
              <p>Nome do jogador</p>
              <p>10:00</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="score-boarder">
      <div class="score-boarder__title">
        <p>Classificação geral</p>
      </div>
      <div class="box-classification">
        <div class="decoration">
          <div class="classification" id="rankGeral">
            <div class="points" *ngFor="let jogo of jogosGerais; let i = index">
              <p>{{i + 1}} - {{jogo.nome}}</p>
              <p>{{jogo.pontos}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>