.container-home{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-image: url(../../../assets/scenarios/background-home.png);
  background-size: contain;
}
.container-home h1{
  color: #ffffff;
}
.main-form{
  display: flex;
  height: 80%;
  width: 90%;
  align-items: flex-end;
  justify-content: space-evenly;
}
.menu{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  height:90%;
  width: 60%;
}

.btn-home{
  position:relative;
  display:inline-block;
  margin:20px;
  width: 50%;
}

.btn-home a{
  color:white;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
  font-size:36px;
  text-align: center;
  text-decoration:none;
  background-color:#42850c;
  display:block;
  position:relative;
  padding:20px 40px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow:inset 0 1px 0 #50a00e, 0 10px 0 #2f5e09;
  -moz-box-shadow:inset 0 1px 0 #50a00e, 0 10px 0 #2f5e09;
  box-shadow:inset 0 1px 0 #50a00e, 0 10px 0 #2f5e09;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.btn-home a:active{
  top:10px;
  background-color:#2f5e09;

  -webkit-box-shadow:inset 0 1px 0 #50a00e, inset 0 -3px 0 #2f5e09;
  -moz-box-shadow:inset 0 1px 0 #50a00e, inset 0 -3pxpx 0 #2f5e09;
  box-shadow:inset 0 1px 0 #50a00e, inset 0 -3px 0 #2f5e09;
}

.btn-home:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  background-color:#2B1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/*classificação*/
.box-classification{
  display: flex;
  width: 25%;
  height: 90%;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 2px solid #2B1800;
  border-radius: 20px;
  background-color: #7e3f03;
}
.decoration{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 97%;
  text-align: center;
  border-radius: 20px;
  border: 3px dashed #2B1800;
}
.classification{
  width: 95%;
  height: 97%;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #2B1800;
}
