<div class="container-home">
  <h1>Bem-vind@ {{loginUser}}!</h1>
  <h1>Você tem um total de {{totalJogos}} jogos</h1>
  <div class="main-form">
    <div class="menu">
      <div class="btn-home">
        <a href="#" (click)="enterLiga()">Escolher Liga</a>
      </div>
      <div class="btn-home">
        <a href="#" (click)="letsStart()">Iniciar Jogo</a>
      </div>
    </div>
    <div class="score-boarder">
      <div class="score-boarder__title">
        <p>Classificação geral</p>
      </div>
      <div class="box-classification">
        <div class="decoration">
          <div class="classification" id="rankGeral">
            <div class="points" *ngFor="let jogo of jogosRanking">
              <p>{{jogo.posicao}} - {{jogo.nome}}</p>
              <p>{{jogo.pontos}} pontos</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
