<div class="w-100 scenario">
  <span> Evidências </span>
  <div class="row d-flex">
    <div class="col" *ngIf="evidence1">
      <img
        class="evidence-img"
        src="../../../assets/itens/tapete.png"
        alt="Tapete com sangue"
      />
    </div>
    <div class="col" *ngIf="evidence2">
      <img
        class="evidence-img"
        src="../../../assets/itens/pincel.png"
        alt="Pincel com sangue"
      />
    </div>
    <div class="col" *ngIf="evidence3">
      <img
        class="evidence-img"
        src="../../../assets/itens/roupas.png"
        alt="Roupas das vítimas"
      />
    </div>
    <div class="col" *ngIf="evidence4">
      <img
        class="evidence-img"
        src="../../../assets/itens/papelfilme.png"
        alt="Papel-filme com sangue"
      />
    </div>
    <div class="col" *ngIf="evidence5">
      <img
        class="evidence-img"
        src="../../../assets/itens/frasco.png"
        alt="Frasco de sangue"
      />
    </div>
    <div class="col" *ngIf="evidence6">
      <img
        class="evidence-img"
        src="../../../assets/itens/quadro.png"
        alt="Retratos das vítimas"
      />
    </div>
  </div>
</div>
