<div class="w-100 scenario">
    <span>
        Evidências
    </span>
    <div class="row d-flex">
        <div class="col">
            <img class="evidence-img" src="../../../assets/itens/banana.png" alt="n deu">
        </div>
        <div class="col">
            <img class="evidence-img" src="../../../assets/itens/banana.png" alt="">
        </div>
        <div class="col">
            <img class="evidence-img" src="../../../assets/itens/banana.png" alt="">
        </div>
        <div class="col">
            <img class="evidence-img" src="../../../assets/itens/banana.png" alt="">
        </div>
        <div class="col">
            <img class="evidence-img" src="../../../assets/itens/banana.png" alt="">
        </div>
        <div class="col">
            <img class="evidence-img" src="../../../assets/itens/banana.png" alt="">
        </div>
    </div>
</div>