<app-timer *ngIf="!gameOver" [startTime]="startTime" [timeLeft]="timeLeft"></app-timer>
<app-atelie *ngIf="atelieActive"> </app-atelie>
<app-exposicao *ngIf="exposicaoActive"> </app-exposicao>
<app-lavagem *ngIf="lavagemActive"> </app-lavagem>
<app-vip *ngIf="vipActive"> </app-vip>
<app-gameover *ngIf="gameOver"></app-gameover>
<app-evidencias *ngIf="evidenciasActive" [evidence1]="evidence1" [evidence2]="evidence2" [evidence3]="evidence3"
  [evidence4]="evidence4" [evidence5]="evidence5" [evidence6]="evidence6">
</app-evidencias>
<app-input-box *ngIf="!gameOver"></app-input-box>
<app-help-button *ngIf="!gameOver" [loginUser]="loginUser"></app-help-button>
